.xdialog {
  position: relative;
  padding: 6px;
  font-family: arial, tahoma, \5b8b\4f53;
  background: rgba(0, 0, 0, 0.2);
}

.xdialog table {
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
}

.xdialog-header {
  padding: 0;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}

.xdialog-close {
  position: relative;
  _position: absolute;
  top: 0;
  right: 2px;
  float: right;
  border: 0 none;
  background: transparent;
  font-size: 20px;
  line-height: 24px;
  color: #999;
  cursor: pointer;
}

.xdialog-close:hover {
  color: #666;
}

.xdialog-title {
  padding: 5px 0 5px 10px;
  font-weight: bold;
}

.xdialog-body {
  padding: 30px 45px 50px;
  text-align: center;
  background-color: #fff;
  border-bottom: dashed 1px #ccc;
}

.xdialog-content {
  white-space: nowrap;
}

.xdialog-footer {
  background-color: #fff;
}